<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pe.com.interbank.cuentasueldo">

    <!--<uses-permission android:name="android.permission.WAKE_LOCK"/>-->

    <application>
        <!-- // TODO HMS-->
        <service
            android:name=".PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="true" />
    </application>
</manifest>